@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
  font-family: 'Pretendard', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}



